---
import BaseHead from '../components/BaseHead.astro';
const { title, description, canonicalURL} = Astro.props; // image
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} />
  </head>
	<body>
		<slot />
	</body>
</html>


